<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Meal Demand Forecast: Code-A-Line</title>
  <meta content="Predict your meal demand!" name="description">
  <meta content="meal demand forecast" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flattern - v2.1.0
  * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mishrasp393@gmail.com">mishrasp393@gmail.com</a>
        <i class="icofont-phone"></i> +91 7735211362
      </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"> MEAL DEMAND FORECAST</a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#cta">Benefits</a></li>
          <li><a href="#predict">PREDICT</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active"
          style="background-image: url(https://tallypress.com/wp-content/uploads/2017/09/top-10-food-delivery-services-in-singapore.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>MEAL DEMAND FORECAST- By Code-A-Line!!</span></h2>
              <p>Start conserving food from today.</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item"
          style="background-image: url(https://www.kindpng.com/picc/m/69-693682_ripsey-food-delivery-app-tracking-vector-hd-png.png);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>WE OFFER GREAT RESULTS !!</h2>
              <p>Let us be determined to conserve more food.</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item"
          style="background-image: url(https://www.abestfashion.com/wp-content/uploads/2019/09/Online-Food-Delivery-Takeaway.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>PREDICT AND SAVE FOOD</h2>
              <p>Think about the less fortunate.</p>

            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">
        <div class="text-center">
          <h3>Supporting<span> BUILD INDIA </span> Movement!!</h3>
          <br>
          <h4 class="text-center">“If more of us valued food and cheer and song above hoarded gold,
            it would be a merrier world.” <br>
            ― J.R.R. Tolkien </h4>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="benefits" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Check out <strong>the benefits of our service</strong></h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">FOOD CONSERVATION</a></h4>
              <p class="description">For warehouses especially, it would help them design their inventory thus avoiding
                the wastage of the perishable goods. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">TACKLE IN ADVANCE</a></h4>
              <p class="description">A forecast of the demand can significantly impact the economy of an food delivery
                system. It would help them prepare a plan to tackle a problem in advance. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">EMPLOYMENT</a></h4>
              <p class="description">The food delivery company can estimate the total production required and number of
                employees to deployed to each area. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <div class="container" id="predict" style="display: flex;">
      <div class="jumbotron"
        style="display: flex; flex-direction: column; align-items: center; padding-top: 30px; margin-bottom: 30px;">
        <h2 class="text-center">PREDICT HERE</h2>
        <h4 style="color: #f03c02;">Upload your Excel file</h4>
        <br>
        <form action="/" method="post" enctype="multipart/form-data">
          <input type="file" id="excel_file" placeholder="Upload your Excel file" name="excel_file"
            style="margin-bottom: 30px ;">
          <button type="submit" style="-webkit-appearance: none;
            -moz-appearance: none; border: 3px solid #f03c02 !important; background-color: none; color:#f03c02; border-radius: 5px; ">Submit</button>
        </form>
        <h5 style="margin-bottom: 20px; font-weight: bold;">Please ensure your file has an extension of <u>.xlsx</u> or
          <u>.xls</u> and follow the format mentioned below.</h5>
        <img style="width: 100% !important; " src="assets/img/excel_formatt.jpg" alt="Excel Format">
        <br>
        <br>

      </div>
    </div>

    <!-- ======= Portfolio Section ======= -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top" style="padding-top: 30px !important; padding-bottom: 0px !important;">
      <div class="container">
        <div class="row" style="width: 90vw !important;margin-left: 0px;margin-right: 0px;">
          <div class="col-lg-6 col-md-6 col-12 footer-contact text-center text-md-left"
            style="margin-bottom: 0px !important;">
            <h4>Made by</h4>
            <h3>Team Code-A-Line</h3>
            <p>
              Indian Institute of Technology <br>
              ISM, Dhanbad <br><br>
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-12 footer-contact text-center text-md-left"
            style="margin-bottom: 0px !important;">
            <br class="d-none d-lg-block">
            <strong>Phone:</strong> +91 7735211362 <br>
            <strong>Email:</strong> mishrasp393@gmail.com<br>
            <br class="d-block d-lg-none">
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>TRY FIRST</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>